/**
 * Additional formatting for interview project
 */

/* space out input page, too compact */
.controls {
	padding-bottom : 10px;
}

/* make url input box longer */
.url-input {
	width : 70%;
	margin-right: 20px;
}

/* space out input from header */
.form-input {
	margin-left: 10px;
}

/* separate filter text from create button */
.filter-text {
	padding-right: 20px;
}

/* error message when operation fails */
.error-message {
  margin-left: 10px;
  margin-right: 5px;
  color: red;
}