<!-- Tables -->
<div class="row">

  <!-- User listing -->
  <div class="col-lg-12">
    <div class="widget">
      <div class="widget-header">Users
        <span class="error-message">
          {{userController.errorMessage}}
          <button class="btn btn-sm btn-info" ng-click="userController.getUsers()" ng-show="userController.retry">Retry</button>
        </span>
        <div class="pull-right"><input type="text" class="form-control input-sm" ng-model="queryUser"></div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th>Name</th>
              <th>Avatar</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in userController.users | filter:queryUser">
              <td class="text-center">{{user.id}}</td>
              <td>{{user.name}}</td>
              <td><img src="{{user.gravatar}}"></td>
              <td>
              	<button class="btn btn-sm btn-info" ng-click="userController.startView(user.id)">View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- End Users -->

</div><!-- End Row -->